<h1 align="center"> <b>Daily Blogs </b></h1>
<%= link_to 'Create new blog', new_blog_path, class: "index-create-new-blog" %>
<% @b.each do |bl| %>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="well well-lg well-index">
        <div  class="b-apellation">
          <%= link_to bl.apellation, blog_path(bl) %>
        </div>
        <div class="b-caption">
           <%= link_to truncate(bl.caption, length: 20), blog_path(bl) %>
        </div>
        <div class="b-specification">
           <%= link_to truncate(bl.specification, length: 20), blog_path(bl) %>
        </div>
        <small class="blog-meta-details"> 
          Created by: <%= bl.user.username if bl.user %>
          <%= time_ago_in_words(bl.created_at) %> ago, 
          last updated: <%= time_ago_in_words(bl.updated_at) %> 
        </small>
        <div class="index-button">
           <%= link_to 'Edit', edit_blog_path(bl), class: "btn btn-primary btn-sm" %>
           <%= link_to 'Delete', blogs_path, method: :delete, 
                  data:{ cofirm: "Are u sure u want to delete this blog?" }, class: "btn btn-danger btn-sm" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
