<h1> Showing Ur blog </h1>
<p>
	Apellation: <%= @b.apellation %>
</p>
<p>
	Caption: <%= @b.caption %>
</p>
<p>
	Specificaion: <%= @b.specification %>
</p>
<%= link_to 'Edit', edit_blog_path %>
<%= link_to 'Back', blogs_path %>